{% extends 'base.html' %}

{% block content %}
  <h2>Detalle de Pago - {{ cuota.Mes }}</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Fecha de Pago</th>
        <th>Tutor</th>
        <th>Método de Pago</th>
        <th>Monto Total de Cuota</th>
        <th>Descuento</th>
        <th>Monto Final</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ ultima_fecha_pago|date:"Y-m-d" }}</td>
        <td>{% if tutor_seleccionado %}{{ tutor_seleccionado.Nombre }} {{ tutor_seleccionado.Apellido }}{% endif %}</td>  <!-- Muestra el tutor si está definido -->
        <td>{{ ultimo_metodo_pago }}</td>
        <td>${{ monto_total|floatformat:2 }}</td>
        <td>${{ descuento_total|floatformat:2 }}</td>
        <td>${{ monto_final|floatformat:2 }}</td>
      </tr>
    </tbody>
  </table>
{% endblock %}