{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
  <div class="container mt-4" style="page-break-before: always;"> 
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <img src="{% static 'img/LogoColegio.svg' %}" alt="Logo del Colegio" class="mb-2" style="width: 150px;"> 
        <h3 class="text-center mb-1">Colegio Sagrado Corazón</h3>
        <h4 class="text-center mb-1">Luz y Guía</h4>
        <h5 class="text-center mb-2">N°8229</h5>
        <hr style="width: 80%; border-top: 1px solid black; margin: 0 auto;"> 
      </div>
    </div>
    <div class="row justify-content-center mt-4">
      <div class="col-md-8">
        <h3 class="text-center">Aceptación del contrato y Firma.</h3>
        <p class="text-center">Declaramos conocer y aceptar los términos del Contrato de Inscripción {{ año_matriculacion }} y sus Anexos 1 y 2</p>
        <br><br>
        <h4 class="text-center">CONTRATO POR ELLA/OS ALUMNO/A/S</h4>
        <h5 class="text-center">{{ alumno.Nombres }} {{ alumno.Apellidos }}</h5>
        <hr style="width: 60%; border-top: 1px solid black; margin: 0 auto;">  <!-- Línea negra después de nombres y apellidos -->
        <br><br>
        <h4 class="text-center">SALA/GRADO/AÑO QUE INGRESAN {{ año_matriculacion }}</h4>
        <h5 class="text-center">{{ letra_año }}  {{ curso_division }}</h5>  <!-- Ahora muestra la letra del año -->
        
        <hr style="width: 60%; border-top: 1px solid black; margin: 0 auto;">
        <br><br>
        {% for tutor in tutores %}
          <p>
            <h4 style="margin-bottom: 5px;"><strong>Nombre y Apellido:</strong> 
              <span style="margin-right: 15px;">{{ tutor.Nombre }} {{ tutor.Apellido }}</span> 
            </h4> 
            
            <div style="width: 50%; border-top: 1px solid black; margin: 0 auto; margin-left: 31%;"></div><br>
             

            <div class="text-center">
            <h6 style="margin-bottom: 5px;"><strong>Progenitor/Tutor/Responsable (tachar lo que no corresponda)</strong></h6><br>
          </div> 

          <div class="text-center">
            <h5 style="margin-bottom: 10px;"><strong>N° Documento:</strong>
              <span style="margin-right: 40%;">{{ tutor.DNI }}</span> 
            </h5>
          </div> 
            <div style="width: 35%; border-top: 1px solid black; margin: 0 auto; margin-left: 35%;">


              
            </div> <!-- Línea negra debajo del tipo y numero de documento -->
            <br> <br> <br> <br> 
            
            <div class="text-center">  <!-- Centra la firma -->
              <h4 style="margin-right: 25%;"><strong>Firma:</strong>
                
                <span style="display: inline-block; width: 70%; border-top: 1px solid black; margin-left: %;"> </span> 
              
              
              </h4> <!-- Aplica el margen superior a todos los h4 -->
            </div>  <br>
          </p>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="container mt-4" style="page-break-before: always;"> 
    <div class="row justify-content-center mt-4">
      <div class="col-md-12 text-center">
        <h3 class="text-center mb-1">COLEGIO SAGRADO CORAZÓN LUZ Y GUÍA N°8229</h3>
        <h4 class="text-center mb-1">FICHA DE INSCIPCIÓN CICLO LECTIVO {{ año_matriculacion }} </h4>
        
        <hr style="width: 80%; border-top: 1px solid black; margin: 0 auto;"> 
      </div>
    </div>
    <div class="row justify-content-center mt-4">
      <div class="col-md-8">
       
         <h3 class="text-center mb-1">Datos del Alumno/a:</h3>
         <p>
           <label>Edad:</label> 
           <span>{{ alumno.Edad }}</span> <br>
           <label>D.N.I.:</label> 
           <span>{{ alumno.DNI }}</span> <br>
           <label>Fecha de Nacimiento:</label> 
           <span>{{ alumno.Fecha_Nacimiento }}</span> <br>
           <label>Lugar de Nacimiento:</label> 
           <span>{{ alumno.Lugar_Nacimiento }}</span> <br>
           <label>Escuela de procedencia (en caso de haberse cambiado este año):</label> 
           <span>{{ alumno.Escuela_Procedencia }}</span> <br>
           <label>Curso:</label> 
           <span>{{ letra_año }}  {{ curso_division }}</span> <br>
           
         </p>
         <hr style="width: 80%; border-top: 1px solid black; margin: 0 auto;">
         {% for tutor in tutores %}
         <h3 class="text-center mb-1">Datos del Padre/Madre/Tutor/Progenitor:</h3>
         <p>
           <label>Apellido/s y Nombre/s:</label> 
           <span>{{ tutor.Apellido }} {{ tutor.Nombre }}</span> <br>
           <label>D.N.I.:</label> 
           <span>{{ tutor.DNI }}</span> <br>
           <label>Domicilio Personal:</label> 
           <span>{{ tutor.Domicilio_Personal }}</span> <br>
           <label>Domicilio Laboral:</label> 
           <span>{{ tutor.Domicilio_Laboral }}</span> <br>
           <label>Celular:</label> 
           <span>{{ tutor.Celular }}</span> <br>
           <label>Ocupacion:</label> 
           <span>{{ tutor.Ocupacion }}</span> <br>
           <label>E-Mail:</label> 
           <span>{{ tutor.Email }}</span> <br>
           <label>Responsable de Pago:</label> 
           <span>{% if tutor.Responsable_de_pago %}Si{% else %}No{% endif %}</span> <br>
           <label>Parentezco:</label> 
           <span>{{ tutor.Parentezco }}</span> <br>
           
           
         </p>
         <hr style="width: 80%; border-top: 1px solid black; margin: 0 auto;">
         {% endfor %}
         <h3 class="text-center mb-1">Datos particulares del alumno/a:</h3>
         <p>
           <label>Enfermedades:</label> 
           <span>{{ alumno.Enfermedades }}</span> <br>
           <label>Si toma medicación, especificar:</label> 
           <span>{{ alumno.Toma_Medicamentos }}</span> <br>
         </p>
         <hr style="width: 80%; border-top: 1px solid black; margin: 0 auto;">
         <h3 class="text-center mb-1">Teléfonos para llamar en caso de urgencia:</h3>
         <p>
           <label>Teléfono 1:</label> 
           <span>{{ alumno.Telefono_Urgencia }}</span> <br>
           
         </p>
        
      </div>
    </div>
  </div>

  <div class="container mt-4" style="page-break-before: always;">
    <div class="row justify-content-center mt-4">
      <div class="col-md-12 text-center">
        <h4 class="text-center mb-1">ANEXO 3</h4>
        <h4 class="text-center mb-1">DIFUSIÓN DE PROYECTOS INSTITUCIONALES</h4>
        <h4 class="text-center mb-1">AUTORIZACIÓN PARA EL USO DE IMÁGENES DEL ALUMNO</h4>
        <hr style="width: 80%; border-top: 1px solid black; margin: 0 auto;"> 
      </div>
    </div>
    <div class="row justify-content-center mt-4">
      <div class="col-md-8">
        <p class="text-center">El Colegio Sagrado Corazón solicita el consentimiento de los padres o tutores legales de todo menor que aparezca en material audiovisual, para poder difundir y publicar las imágenes en diversos medios en el ámbito escolar con fines publicitar nuestro proyecto institucional.</p>
        <br><br>
        <p class="text-center">Autorizamos al establecimiento a hacer uso de la voz e imagen de nuestros hijos/as<strong> {{ alumno.Nombres }} {{ alumno.Apellidos }}</strong> en la página web del establecimiento, en revistas, folletos, publicaciones varias y medios de comunicación, sólo con fines de difusión de Proyectos Institucionales y a grabar las clases que se desarrollen de forma virtual en la que participe.</p>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="text-center">
        <span style="display: inline-block; width: 70%; border-top: 1px solid black; margin-left: %;"> </span> 
        <div class="text-center">  <!-- Centra la firma -->
          <h4 style=""><strong>Firma y aclaracion del Progenitor </strong>
          
          </h4>
      </div>
    </div>
      
    </div>
  </div>

  <!-- Botón Imprimir -->
  <div class="text-center mt-4" id="imprimir-button">
    <button onclick="window.print()" class="btn btn-primary">Imprimir</button>
  </div>

  <script>
    // Función para ocultar el botón de impresión antes de la impresión
    window.onbeforeprint = function() {
      document.getElementById('imprimir-button').style.display = 'none'; 
    };

    // Función para mostrar el botón de impresión después de la impresión
    window.onafterprint = function() {
      document.getElementById('imprimir-button').style.display = 'block'; 
    };
  </script>
</main>
{% endblock %}