{% extends "base.html" %}
{% block content %}
<main>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <h1 style="font-style: italic; background-color: #f2f2f2; padding: 10px;">Lista de Cursos</h1>
      </div>
    </div>
    <div class="row justify-content-center"> 
      <div class="col-md-12"> <div class="table-responsive">  <!-- Ajusta el ancho de la columna -->
        <table class="table table-striped table-hover"> 
          <thead>
            <tr>
              <th style="width: 70%;">Nombre</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for curso in cursos|dictsort:"años" %}  <!-- Ordena los cursos de mayor a menor por 'años' -->
            <tr>
              <td>
                <!-- Enlaza el nombre del curso a la vista de materias -->
                <a href="{% url 'materias_curso' curso.pk %}">{{ curso.años }} {{ curso.Division }}</a> 
              </td>
              <td>
                <button type="button" class="btn" style="background-color: rgb(214,176,85); color: white;" 
                        data-toggle="modal" data-target="#cursoDetailsModal{{ curso.pk }}">Detalle</button> |  
                <button type="button" class="btn" style="background-color: rgb(190,43,39); color: white;" 
                        data-toggle="modal" data-target="#cursoDeleteModal{{ curso.pk }}">Eliminar</button>
                <br><br><a href="{% url 'agregar_alumno_curso' curso.id %}" class="btn" style="background-color: rgb(31,40,81); color: white;">Asignar Alumnos</a> | 
                <a href="{% url 'quitar_alumno_curso' curso.id %}" class="btn" style="background-color: rgb(190,43,39); color: white;">Quitar Alumnos</a> 
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col-md-8 text-center">
        <button type="button" class="btn" style="background-color: rgb(214,176,85); color: white;" onclick="location.href='{% url 'index' %}'">Volver</button>
        <button type="button" class="btn" style="background-color: rgb(31,40,81); color: white;" onclick="location.href='{% url 'curso_create' %}'">Crear Curso</button> <!-- Botón para crear un curso -->
      </div>
    </div>

    <!-- Modales para Detalle, Editar y Eliminar -->
    {% for curso in cursos %}
    <!-- Modal Detalle -->
    <div class="modal fade" id="cursoDetailsModal{{ curso.pk }}" tabindex="-1" role="dialog" aria-labelledby="cursoDetailsModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="cursoDetailsModalLabel">Detalles del Curso {{ curso.años }} - {{ curso.Division }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-striped">
              <thead>
              </thead>
              <tbody>
                <tr>
                  <td>Año</td>
                  <td>{{ curso.años }}</td>
                </tr>
                <tr>
                  <td>División</td>
                  <td>{{ curso.Division }}</td>
                </tr>
                <tr>
                  <td>Nivel</td>
                  <td>{{ curso.Nivels }}</td>
                </tr>
                <tr>
                  <td>Materias</td>
                  <td>
                  {% for materia in curso.Materias.all %}
                  <p>{{ materia.Denominación }} - (Prof. {{ materia.Docente_Titular }})</p>
                  {% endfor %}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Editar -->
    <div class="modal fade" id="cursoEditModal{{ curso.pk }}" tabindex="-1" role="dialog" aria-labelledby="cursoEditModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="cursoEditModalLabel">Editar Curso - {{ curso.años }} - {{ curso.Division }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Formulario para editar el curso -->
            <form method="post" action="{% url 'curso_update' curso.pk %}">
              {% csrf_token %}
              <!-- Año del curso -->
              <div class="form-group">
                <label for="id_años">Año:</label>
                <input type="text" class="form-control" id="id_años" name="años" value="{{ curso.años }}">
              </div>
              <!-- División del curso -->
              <div class="form-group">
                <label for="id_Division">División:</label>
                <input type="text" class="form-control" id="id_Division" name="Division" value="{{ curso.Division }}">
              </div>
              
              <!-- Tutor del curso -->
              <div class="form-group">
                <label for="id_Docentes">Doncete:</label>
                <select class="form-control" id="id_Docentes" name="Tutor">
                  {% for tutor in tutores %}
                    <option value="{{ tutor.pk }}" {% if curso.Tutor.pk == tutor.pk %}selected{% endif %}>{{ tutor }}</option>
                  {% endfor %}
                </select>
              </div>

              <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Eliminar -->
    <div class="modal fade" id="cursoDeleteModal{{ curso.pk }}" tabindex="-1" role="dialog" aria-labelledby="cursoDeleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="cursoDeleteModalLabel">Eliminar Curso - {{ curso.años }} - {{ curso.Division }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            ¿Estás seguro de que quieres eliminar a {{ curso.años }} - {{ curso.Division }}?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <a href="{% url 'curso_delete' curso.pk %}" class="btn btn-danger">Eliminar</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</main>

<script>
  // No se necesita la función confirmDelete ya que ahora usamos modales
</script>
{% endblock %}