{% extends "baseconfiguracion.html" %}
{%block content%}
<main>
    {% extends "baseconfiguracion.html" %}
    {%block content%}
    <main>
      <h1>Detalles de la Familia</h1>
      <p><strong>Nombre:</strong> {{ familia.Nombre_Familia }}</p>
    
      <h2>Tutores Asociados</h2>
      <ul>
        {% for tutor in familia.Tutores.all %}
          <li>{{ tutor }}</li>
        {% endfor %}
      </ul>
      <a href="{% url 'familia_list' %}">Volver a la lista de familias</a>

</main>
{%endblock%}