{% extends "base.html" %}
{%block content%}
<main>


<h1>Detalles del Tutor</h1>
<p><strong>Nombre:</strong> {{ tutor.Nombre }}</p>
<p><strong>Apellido:</strong> {{ tutor.Apellido }}</p>
<p><strong>DNI:</strong> {{ tutor.DNI }}</p>
<p><strong>Domicilio_Personal:</strong> {{ tutor.Domicilio_Personal }}</p>
<p><strong>Domicilio_Laboral:</strong> {{ tutor.Domicilio_Laboral }}</p>
<p><strong>Ocupacion:</strong> {{ tutor.Ocupacion }}</p>
<p><strong>Email:</strong> {{ tutor.Email }}</p>
<p><strong>Responsable_de_pago:</strong> {{ tutor.Responsable_de_pago }}</p>
<p><strong>Parentezco:</strong> {{ tutor.Parentezco }}</p>
<p><strong>Vive:</strong> {{ tutor.Vive }}</p>

<a href="{% url 'tutores_list' %}">Volver</a>



</main>
{%endblock%}
